@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
@import './variables.scss';
@import './bootstrap-setup.scss';

body {
  margin: unset;

  font-family: 'Sniglet', cursive;
  font-size: 1rem;

  #app {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    code {
      background-color: #121212;
    }
  }
}

// dark mode overrides
@media (prefers-color-scheme: dark) {
  // TODO: set these styles in bootstrap setup

  body {
    // TODO: use variables
    color: #ffffff;
    background: #2a3c4e;
  }

  a {
    color: rgb(186, 186, 250);

    // TODO: hover style
  }
}

// tablet
@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
}

// mobile
@media screen and (max-width: $breakpoint-mobile) {
}
